body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0px;
}
form {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background-color: #B2A4FF !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #B2A4FF !important;
}
.text-bg-info{
  background-color: #DEAA79 !important;
}
.btn-warning{
  background-color: #DEAA79 !important;
}